<h1>Home Page</h1>
	<% @users.each do |user| %>
		<p>
			<%= link_to "#{user.fname} #{user.lname}", user_path(user.id) %>
			<%= link_to "Delete User", user_path(user.id), method: :delete, remote: true, class: "delete-user" %>
		</p>
	<% end %>

